body
{
  background-image: url(../../images/background.jpg);
  background-size: 100%;
}

h1
{
  margin-top: 15%;
  margin-left: 45%;
  color: black;
}

.form
{
  width: 15%;
  margin-left: 43%;
  background-color: white;
  height: 150px;
  padding-top: 50px;
  opacity: 0.9;
  border:2px solid;
  border-radius:25px;
  box-shadow: 10px 10px 5px #888888;
}

.inPage
{
  color: black;
  margin-left: 50%;
  width: 30%;
}

.time
{
   margin-left: 45%;
}
